$primary: #28d3ee;
$white: #fff;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Coming+Soon&family=Josefin+Sans:ital,wght@0,100;1,100&family=Mountains+of+Christmas&family=Shadows+Into+Light&display=swap');
$header-bg: #fff;
$header-text: #000;
$hover-text: #28d3ee;
$font-fam-1: 'Dancing Script', cursive;
$font-fam-2: 'Satisfy', cursive;
$font-fam-3: 'Josefin Sans', 'Helvetica';
$font-fam-4: 'Shadows Into Light', 'Helvetica';
$font-fam-5: 'Annie Use Your Telescope', 'Helvetica';
$font-fam-6: 'Mountains of Christmas', 'Helvetica';
$font-fam-7: 'Coming Soon', 'Helvetica';

.active {
  color: $hover-text !important;
}

// .container {
//   margin: 0 80px;
// }

.c-image {
  border-radius: 9px;
  // height: 800px;
}

.card-b-style {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-show-b-style {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img-style {
  align-self: center;
}

.card-title-font {
  font-family: $font-fam-7;
  font-size: 30px;
  margin: auto;
}

.dropdownitem {
  background: $header-bg;
  color: $header-text !important;

  &:hover {
    color: $hover-text;
  }
}

.my-footer {
  align-self: flex-end;
  display: flex;
  font-family: $font-fam-1;
  height: 35px;
}

.header-style {
  color: $header-text;
  font-family: $font-fam-7;
  font-size: 40px;
  margin: 30px 0px 0px 30px;
}

.home-page-topline {
  font-family: $font-fam-7;
}

.navbar-light .navbar-nav .nav-link {
  color: $header-text;

  &:hover {
    color: $hover-text;
  }
}

.nav-name-custom {
  color: $header-text;
  // margin-left: 40px;
}

.nav-style {
  margin-top: 80px;
}

// @media only screen and (max-width: 800px) {
//   .happy-shopping-header {
//     align-content: center;
//     display: flex;
//     font-size: 40px;
//   }
//
//   .style-card {
//     align-items: center;
//     display: flex;
//     justify-content: center;
//   }
//
//   .recipe-display-header {
//     text-align: center;
//   }
// }
